$primary    : #9aa8a2,
$secondary  : #355e5a,
$accent     : #9C27B0,

$dark       : #1d1d1d,
$dark-page  : #121212,

$positive   : #21BA45,
$negative   : #C10015,
$info       : #1a2568,
$warning    : #F2C037,
